.GlobalHeader {
    display: flex;
    height: 65px;
    background-color: #282c34;
}

.headerButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    height: 65%;
    margin: auto 0 auto 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}